<% @results.each do |i| %>
  <p>
    名前：<%= i['name'] %><br>
    住所：<%= i['location']['address'] %><br>
    lat：<%= i['location']['lat'] %><br>
    lng：<%= i['location']['lng'] %><br>
  </p>
<% end %>
